.company{
    background: url("/rating.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    height: 650px;
    color: white;
}
.company-title{
    color: white;
    padding: 100px 0;
}