.connect{
      width: 100%;
      margin: 0 auto;
    height: 700px;
    background: #202733;
    display: flex;
    align-items: center;
    justify-content: center ;
    }
.connect-bg{
    width: 1140px;
    height:  600px;
    background: url('/public/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    padding: 100px 50px;
    color: #fff;
}
.connect-title{
   width: 300px;
}
.connect-form{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.connect-form input{
    background: #d9d9d9;
    border: none;
    border-radius: 20px;
    opacity: .99;
    outline: none;
    padding: 15px 20px;
    width: 443px;
    margin: 10px 0;
}
.connect-form textarea{
        background: #d9d9d9;
        border: none;
        border-radius: 20px;
        opacity: .99;
        outline: none;
        padding: 15px 20px;
        width: 443px;
}
.connect-form button{
    background: hsla(0, 0%, 100%, .3);
    border: 2px solid hsla(0, 0%, 100%, .3);
    border-radius: 35.3223px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 510;
    height: 45px;
    line-height: 136.6%;
    margin-top: 30px;
    transition: .3s;
    width: 231px;
}
.connect-form button:hover{
    background-color: transparent;
}
@media screen and (max-width: 1200px) {
  .connect-bg{
      width: 1000px;
  }
}
@media screen and (max-width: 1100px) {
    .connect-bg{
        width: 800px;
    }
  }
  @media screen and (max-width: 855px) {
  .connect-bg{
      width: 700px;
      height:  500px;
      border-radius: 30px;
      padding: 40px 50px;
  }
  .connect-form{
      padding: 7px 0;
  }
  .connect-form input{
      border-radius: 20px;
      padding: 10px 15px;
      width: 343px;
  }
  .connect-form textarea{
          width: 343px;
  }
  .connect-form button{
      height: 35px;
      margin-top: 20px;
      width: 180px;
  }
  .connect-form button:hover{
      background-color: transparent;
  }
  }
  @media screen and (max-width: 760px) {
  .connect-bg{
      width: 550px;
      height:  550px;
  }
  .connect-title{
     width: 400px;
     font-size: 22px;
  }
  .connect-form input{
      width: 300px;
      margin: 10px 0;
  }
  .connect-form textarea{
    margin: 10px 0 ;
          padding: 25px 20px;
          width: 300px;
  }
  .connect-form button{
      height: 35px;
      width: 160px;
  }
  }
  @media screen and (max-width: 606px) {
    .connect-bg{
        width: 450px;
    }
    .connect-form input{
        width: 300px;
        margin: 10px 0;
    }

    }
    @media screen and (max-width: 507px) {
        .connect-bg{
            width: 390px;
            height:  500px;
        }
        .connect-title{
           width: 300px;
           font-size: 22px;
        }
        }
        @media screen and (max-width: 442px) {
          .connect-bg{
              width: 100%;
              height:  500px;
              padding: 10px 20px ;
          }
          .connect-title{
            font-size: 20px;
            padding: 6px 0;
          }
          .connect-form input{
              padding: 5px 10px;
              width: 250px;
          }
          .connect-form textarea{
                  padding: 15px 20px;
                  width: 250px;
          }
          .connect-form button{
              height: 25px;
              width: 130px;
          }
        }
        @media screen and (max-width: 390px) {
            .connect-bg{
                width: 100%;
                height:  450px;
            }
            .connect-title{
                width: 120px;
                font-size: 17px;
             }
            .connect-form input{
                padding: 5px 10px;
                width: 230px;
            }
            .connect-form textarea{
                    width: 230px;
            }
            .connect-form button{
                height: 25px;
                font-size: 16px;
                width: 130px;
            }
        }
        @media screen and (max-width: 330px) {
            .connect{
                height: 550px;
            }
            .connect-bg{
                width: 270px;
                height:  450px;
            }
            .connect-title{
              font-size: 16px;
            }
            .connect-form input{
                padding: 5px 10px;
                width: 200px;
            }
            .connect-form textarea{
                    width: 200px;
            }
            .connect-form button{
                height: 25px;
                font-size: 14px;
                width: 100px;
            }
        }