.about{
    width: 100%;
   margin: 0 auto;
    background: url('/public/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    color: #fff;
}
.about-title{
    padding: 60px 0;
}
.about-subtitle{
    width: 700px;
    padding-bottom: 50px;
}
/* .about-link{  */

.about-sublink{
    width: 150px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
    color: #fff;
    background-color: transparent;
    transition: all 0.5s ease;
}
.about-sublink:hover{
    color: black;
    border: 2px solid #030303;
    background-color: #fff;
}