.home{
  max-width: 1440px;
  margin: 0 auto;
}
.home-title{
    text-align: center  ;
    padding: 10px 0;
}

.home-top, .home-bottom{
    width: 100%;
display: flex;
}
.home-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 350px;
}