.home{
  width: 100%;
  margin: 0 auto;
  background: #fce8bd;

}
.home-wrapper{
   width: 100%;
   margin: 0 auto !important;
}
.home-title{
    text-align: center  ;
    padding: 10px 0;
}

.home-top, .home-bottom{
    width: 100%;
display: flex;
justify-content: center;
}
.home-img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 350px;
}