*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5) url("https://www.ataevbahodirbuild.uz/static/media/city1.51e44d49b1c61434ca07.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;     
    background-blend-mode: darken;
    background-attachment: fixed;
}

.navbar  .wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 15px;
    position: fixed;
    z-index: 100;
}

.active{
    align-items: center;
    background: #fce8bd;
    color: #000;
    display: flex;
    justify-content: center;
    text-align: center;
}
.active .navbar-link{
    color: #000;
    font-weight: bold;
}
.navbar-list {
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   padding: 10px 0;
}
.navbar-link{
   color: rgba(255, 255, 255, 0.829);
   position: relative;
   padding: px;

}
.navbar-link::after{
    content: "";
    position: absolute;
    height:  2.5px;
    width: 100%;
    left: 0;
    bottom: -4px;
    background-color: #fff;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
 .navbar-item:nth-child(4) .navbar-link:hover::after  {
    transform: scale(0);
}
.navbar-link:hover::after {
    transform: scale(1, 1);
}
.active .navbar-item:nth-child(4) .navbar-link img{
    background: rgba(0,0,0,0.5) ;
    background-blend-mode: darken;
    border: none;
}
.navbar-item:nth-child(4) .navbar-link img{
    width: 120px;
    height: 72px;
} 

.active .navbar-select{
    background-color: transparent;
    color: black;
    border-radius: 3px;
}
.active .navbar-link:hover::after{
    transform: scale(0);
}
.navbar-select{
    padding: 4px 15px;
    background-color: transparent;
    color: #fff;
    background-color: #0f3f72;
   /* outline: none; */
}
.hamburger{
    display: none;
    color: white;
}
.hamburger img{
    width: 0px;
    height: 0px;
    
}
/* Responsive */
@media screen and (max-width: 735px){
    .navbar-list {
       padding: 7px 0;
    }
}
@media screen and (max-width: 700px){
    .navbar{
        width: 100%;
        height: 650px;
        background:  url("https://www.ataevbahodirbuild.uz/static/media/city1.51e44d49b1c61434ca07.jpeg"); 
        background-repeat: no-repeat;
        background-size: cover;     
        background-attachment: fixed;
    }
    .wrapper{
        display: block;
        width: 100%;
        border: 2px solid red;
    }
    .navbar-list {
       display: none;
    }
    .hamburger{
        display: block;
        color: white;
    }
    .hamburger img{
        width: 50px;
        height: 50px;
    }
    .active{
        align-items: start;
        background: #fce8bd;
        color: #000;
        display: flex;
        justify-content: start;
        text-align: center;
    }
}