*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-wrapper{
    max-width: 1440px;
  margin: 0 auto;
}
.navbar{
    width: 100%;
    height: 650px;
    background: rgba(0, 0, 0, 0.5) url("https://www.ataevbahodirbuild.uz/static/media/city1.51e44d49b1c61434ca07.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;     
    background-blend-mode: darken;
    background-attachment: fixed;
}

.navbar  .wrapper{
    display: flex;
    justify-content: space-evenly   ;
    align-items: center;
    max-width: 1440px;
    padding: 0 15px;
    position: fixed;
    z-index: 100;
}

.active{
    align-items: center;
    background: #fce8bd;
    color: #000;
    display: flex;
    justify-content: center;
    text-align: center;
}
.active .navbar-link{
    color: #000;
    font-weight: bold;
}
.navbar-list {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   padding: 20px 0;
}
.navbar-link{
   color: rgba(255, 255, 255, 0.829);
   position: relative;
   padding: px;

}
.navbar-link::after{
    content: "";
    position: absolute;
    height:  4px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
 .navbar-link:hover::after{
    transform: scale(1, 1);
}
.active .navbar-item:nth-child(4) .navbar-link img{
    background: rgba(0,0,0,0.5) ;
    background-blend-mode: darken;
    border: none;
}
.navbar-item:nth-child(4) .navbar-link img{
    width: 120px;
    height: 72px;
} 
.active .navbar-select{
    background-color: transparent;
    color: black;
    border-radius: 3px;
}
.navbar-select{
    padding: 4px 15px;
    background-color: transparent;
    color: #fff;
    background-color: #0f3f72;
   /* outline: none; */
}
.hamburger{
    display: none;
    color: white;
}
.hamburger img{
    width: 50px;
    height: 50px;
    
}
/* Responsive */
@media screen and (max-width: 1362px){
    .navbar  .wrapper{
        justify-content: space-evenly   ;
        max-width: 12362px;
        padding: 0 15px;
    }
    .navbar-list {
        width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       padding: 20px 0;
    }
}
@media screen and (max-width: 1262px){
    .navbar  .wrapper{
        justify-content: space-evenly   ;
        max-width: 1262px;
        padding: 0 15px;
    }
    .navbar-list {
        width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       padding: 20px 0;
    }
}
@media screen and (max-width: 1170px){

    .navbar  .wrapper{
        justify-content: space-evenly   ;
        max-width: 1100px;
        padding: 0 10px;
    }
    .navbar-list {
        width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       padding: 20px 0;
    }
}
@media screen and (max-width: 1024px){

    .navbar  .wrapper{
        justify-content: space-evenly   ;
        max-width: 1024px;
        padding: 0 10px;
    }
    .navbar-list {
        width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       padding: 20px 0;
    }
}
@media screen and (max-width: 900px){
    .navbar  .wrapper{
        justify-content: space-evenly   ;
        max-width: 900px;
        padding: 0 10px;
    }
    .navbar-list {
        width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       padding: 20px 0;
    }
}
@media screen and (max-width: 800px){
    .navbar  .wrapper{
        justify-content: space-evenly   ;
        max-width: 800px;
        padding: 0 10px;
    }
    .navbar-list {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       padding: 20px 0;
    }
}
/* @media screen and (max-width: 900px) {
    .navbar  .wrapper{
        max-width: 900px;
        padding: 0 15px;
    }
    .navbar-list {
        width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       padding: 20px 0;
    }
    .navbar-link{
        padding: 5px 10px;
     
     }
     .navbar-item:nth-child(4) .navbar-link img{
        width: 100px;
        height: 60px;
    } 

}
@media screen and (max-width: 800px) {
    .navbar  .wrapper{
        max-width: 800px;
        padding: 0 15px;
    }
    .navbar-list {
        width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
       padding: 20px 0;
    }
    .navbar-link{
        padding: 0px 10px;
     
     }
     .navbar-select{
        margin-top: -10px;
        padding: 4px 8px;
    }
    .active .navbar-select{
        margin-top: -10px;
    }
    .navbar-item:nth-child(4) .navbar-link img{
        width: 60px;
        height: 40px;
    } 
    
}
@media screen and (max-width: 720px) {
    .navbar  .wrapper{
        max-width: 720px;
        padding: 0 15px;
    }
    .navbar-list {
        width: 720px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

    }
    .navbar-item:nth-child(4) .navbar-link img{
        width: 80px;
        height: 40px;
    } 
    .navbar-select{
        margin-top: -15px;
        padding: 4px 8px;
    }
    .active .navbar-item:nth-child(4) .navbar-link img{
        width: 80px;
        height: 40px;
    }
    .active{
        align-items: center;
        background: #fce8bd;
        color: #000;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}
@media screen and (max-width: 720px) {

    .navbar-link{
      display: none;
     }
     .navbar-select{
        display: none;
    }
    .hamburger{
        display: block;
    }
    
   
} */