*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;

}
.navbar.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 20px 0;

}
.navbar-link{
   color: rgba(255, 255, 255, 0.829);
   position: relative;
   padding: 5px 0;

}
.navbar-link::after{
    content: "";
    position: absolute;
    height:  4px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
 .navbar-link:hover::after{
    transform: scale(1, 1);
}

.navbar-item:nth-child(4) .navbar-link img{
    width: 120px;
    height: 72px;
} 
.navbar-select{
    padding: 4px 15px;
    background-color: transparent;
    color: #fff;
    background-color: #007aff;
   /* outline: none; */
}