.footer{
  width: 100%;
   margin: 0 auto;
    height: 350px;
    background: #fce8bd;
}
.footer-imgs{
    display: block;
    width: 120px;
    height: 71px;
    color: #030303;

}
.footer-img{
   width: 100%;
    color: #030303;
    overflow: clip;
    padding: 0 0;
}
.footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;

}
.footer-title{
    padding: 20px 0;
}
.footer-icons{
    display: block;
        
}
.footer-icon{
    width: 50px;
    height: 50px;
    font-size: 20px;
 background-color: black;
 color: #fff;
  margin: 0 12px;
}
.card-lists{
  display: flex;
}
.card-list{
    width: 50px;
    height: 50px;
    background-color: black;
    color: #fff;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  margin: 0 10px;
  transition: all 0.5s ease;
  border-radius: 50%;
}
.card-list:hover{
    background-color: transparent;
    color: black;
    border: 2px solid #030303;
}
ul li{
    color: black;
}
.footer-list{
    padding: 5px 0;
}
.footer-lists a{
    color: black;
    font-size: 20px;
}
.footer-items a{
    color: black;
    font-size: 20px;
}
.footer-item{
   padding: 12px 0;
}
.footer-link{
    position: relative;
}
 .footer-link::after{
    content: "";
    position: absolute;
    height:  2px;
    width: 100%;
    left: 0;
     bottom: -3px;
    background-color: rgb(121, 116, 116);
    transform: scale(0, 1);
    transition: transform 0.3s ease;
} 
.footer-link:hover::after{
    transform: scale(1, 1);
}
.footer-links{
    font-size: 22px !important;
    font-weight: bold;
}
@media screen and (max-width: 840px) {
   
      .footer-title{
          padding: 20px 0;
          width: 340px;
      }

}
@media screen and (max-width: 760px) {
    .footer-title{
        padding: 20px 0;
        width: 200px;
    }
}
@media screen and (max-width: 700px) {
    .footer{
        height: 650px;
    }
      .footer-imgs{
          width: 150px;
      }
      .footer-wrapper{
          display: block;
          justify-content: center ;
          flex-direction: column;
          align-items: center;
      }
      .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
      .footer-title{
          padding: 30px 0;
          text-align: center;
      }
      .card-list{
        text-align: center;
      }
      .footer-list{
        text-align: center;
      }
      .footer-item{
         text-align: center;
      }
}
@media screen and (max-width: 580px) {
    .footer{
        height: 650px;
    }
      .footer-imgs{
          width: 150px;
      }
      .footer-wrapper{
          display: block;
          justify-content: center ;
          flex-direction: column;
          align-items: center;
      }
      .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
      .footer-title{
          padding: 24px 0;
          text-align: center;
          font-size: 22px;
      }
      .card-list{
        width: 40px;
        height: 40px;
    }
      .card-list{
        text-align: center;
      }
      .footer-list{
        text-align: center;
      }
      .footer-item{
         text-align: center;
      }
      .footer-links{
        font-size: 20px !important;
        font-weight: bold;
    }
    .footer-link{
    font-size: 18px !important;
    }

}
@media screen and (max-width: 410px) {
    .footer{
        height: 580px;
    }
      .footer-imgs{
          width: 100px;
      }
      .footer-title{
          padding: 10px 0;
          font-size: 20px;
      }
      .footer-links{
        font-size: 18px !important;
        font-weight: bold;
    }
    .footer-link{
    font-size: 16px !important;
    }

}
